

body {
    height: 100vh;
    font-family: Helvetica;
    margin: 0 40px;
    box-sizing: border-box;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 1rem;
    margin: 40px 0;
}

.todo {
    display: grid;
    border-radius: 10px;
    margin: 5px;
    grid-template-columns: 1fr 4fr 3fr 2fr 2fr;
    font-size: 16px;
    padding: 10px;
    gap: 5px;
    background-color: #ffffff;
}

.todotitle {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: 18px;
    font-weight: bold;
}

.todo div:not(.todotitle) {
    grid-row: 2 / 3;
}

.todo input, .todo button{
    grid-row: 1 / 3;
}

.todo[data-priority="low"], option[value="low"] {
    background-color: #7bf1a7;
}

.todo[data-priority="med"], option[value="med"] {
    background-color: #fef186;
}

.todo[data-priority="high"], option[value="high"] {
    background-color: #ffa2a3;
}

.todo:has(input:checked) div {
    text-decoration: line-through;
}

.project {
    background-color: #d6e7f5;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: column;
}

.button-container {
    margin-top: auto;
}

button, input[type="button"], input[type="submit"] {
    background-color: #4591d3;
    border: none;
    color: #ffffff;
    border-radius: 10px;
    padding: 10px;
}

button:hover, input[type="button"]:hover, input[type="submit"]:hover {
    background-color: #6ba3d4;
}

dialog {
    background-color: #d6e7f5;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
}

input {
    border: none;
    border-radius: 5px;
}

.button-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}